# Linear Regression ( 선형회귀)

## what is linear regression?

- Line(선) : 가장 직관적이고 간단한 모델. 
- Linear Regression (선형회귀) : 선을 찾는 분석하는 방법. 

$ y = ax + b $

`a`는 기울기,`b`는 `y`절편

`mean squared error(MSE) - 평균 제곱 오차` 위 함수에 대한 오차 손실
- 모든 손실에 제곱을 해주는 게 좋다. 
- 선형 회귀 모델의 목표는 모든 데이터로부터 나타나는 오차의 평균을 최소화할 수 있는 최적의 기울기와 절편을 찾는 거다.  

## 손실을 최소화 하기 위한 방법, 경사하강법( gradiant descent )

- 일단 파라미터를 임의로 정한 다음에 조금씩 변화시켜가며 손실을 점점 줄여가는 방법으로 최적의 파라미터를 찾아간다. 

### Convergence(수렴)

- 선형 회귀 분석을 수행하면 기울기와 절편을 계속 변경해가면서 최적의 값을 찾게 될 텐데, 이걸 언제까지 할지 정해줘야 한다. 무작정 계속 시킬 수 없다.
- 파라미터를 계속 조정 하다보면 어느정도 최적의 값으로 수렴(converge)한다.

## 학습률( Learning Rate )

## (Example) 선형 회귀 ( Linear Regression )

`LinearRegression`모델을 생성하고, X,y 데이터를 fit 시키는 예제. 

```python
from sklearn.linear_model import LinearRegression

line_filtter = LinearRegression()
line_filtter.fit(X,y)
```

`fit()` 메서드는 선형 회귀 모델에 필요한 두가지 변수를 전달. 

`line_fitter.coef_` : 기울기
`line_fitter.intercept_` : 절편

새로운 `X` 값에 대한 y값 예측

```python
y_predicted = line_fitter.predict(X)
```

sklearn 단순 선형회귀에서는 `최소제곱법(Ordinary Least Squares)`를 활용.

In [2]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = {'height':[65.78, 71.52, 69.40, 68.22, 67.79], 'weight':[112.99, 136.49, 153.03, 142.34, 144.30]}

In [7]:
from pandas import Series, DataFrame
data = DataFrame(df)
print(data)

   height  weight
0   65.78  112.99
1   71.52  136.49
2   69.40  153.03
3   68.22  142.34
4   67.79  144.30

In [8]:
data.head()

   height  weight
0   65.78  112.99
1   71.52  136.49
2   69.40  153.03
3   68.22  142.34
4   67.79  144.30

In [ ]:
X = data["height"]
y = data["weight"]
plt.plot(X,y,)